.homeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
}

.mainContainer {
    background: #F6F6F3;
    min-height: 98vh;
}

.contentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
}